!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Quiz
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    = stylesheet_link_tag :all
    - {'blueprint/screen.css' => 'screen, projection', 'blueprint/print.css' => 'print'}.each do |css, media|
      = stylesheet_link_tag css, :media => media
    / [if IE]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = yield :head
  %body
    %div.container
      %h1
        = yield :body_title
      #header.span-24.last
        = yield
